.vscode/**
.vscode-test/**
src/**
out/**
test/**
node_modules/**
.gitignore
.gemini/**
.claude/**
claude.md
tsconfig.json
tsconfig.test.json
esbuild.js
.mocharc.yml
.eslintrc.json
test-todo.md
**/*.ts
**/*.map
